extends html

snippet inc "include"
{% include '${1}' %}
endsnippet

snippet for "for loop"
{% for ${2:} in ${1} %}
	{{ $2${3} }}
{% endfor %}
endsnippet

snippet if "if"
{% if $1 %}
	$2
{% endif %}
endsnippet
